<!-- <p>product-search works!</p> -->
<h1>{{ title }}</h1>
<!-- <div class="app">
    <ul>
        <li *ngFor="let product of listProducts;">
            {{ product.name }}
        </li>
    </ul>
</div> -->
<app-product-list> </app-product-list>
<!-- *ngFor="let product of listProducts" -->
<!-- [detail]="product" -->

<!-- <table class="app">
    <tr *ngFor="let product of listProducts">
        <td> {{ product.id }}</td>
        <td> {{ product.name }}</td>
        <td> {{ product.description }}</td>
        <td> {{ product.company }}</td>
        <td><button mat-stroked-button routerLink="/prodSearch/{{ product.id }}" color="primary">Actualizar</button></td>
        <td><button mat-stroked-button (click)="onDeleteProduct(product.id)" color="warn">Eliminar</button></td>
    </tr>
</table> -->
